.space {
  padding-top: 70px;
}
#map {
  padding-bottom: 50px;
  margin: auto;
}

@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: "Hawook";
  src: url("/static/fonts/Gugi-Regular.ttf") format("truetype");
  font-weight: normal;
}

#navBar {
  background-color: #CCCCCC;
  padding: 10px 200px;
  font-size: 20px;
}

#nameResult {
  text-align: center;
  font-size: 50px;
  padding: 40px;
  font-family: "Hawook";
}
#addrResult {
}
#openResult {
}
#urlResult {
}
#prodResult {
}
#storeResult {
}
#restResult {
}
#parkResult {
}

#mapList{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#mList{
  display: flex;
  justify-content: center;
  flex-direction: row;

  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 45%;
  
}

td {
  padding: 30px;
  width: fit-content;
  text-align: center;
  border: 1px solid lightgray;
}
#comment {
    text-align: center;
    padding: 8px 80px;
  }
  
  .comment-section {
    border: 1px solid #ddd;
    padding: 20px;
    width: 45%;
    height: max-content;
    margin: auto;
    margin-bottom: 30pxs;
    box-sizing: border-box;
  }
  
  .comment-section h3 {
    margin-top: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .comment-form {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .comment-form textarea {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
  }
  
  button {
    width: 15%;
    padding: 10px 20px;
    background-color: #CCCCCC;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .comment-form button:hover {
    background-color: #555;
  }
  
  .comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .comment {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .comment-author {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .comment-body {
    margin: 0;
    box-sizing: border-box;
  }
  